.content {
  display: block;
  margin: 5px 10px;
  padding: 20px 25px;
}

.img-wrapper {
  float: right;
  border: none;
}

.img-wrapper img {
  width: 500px;
}

h2 {
  margin: 0;
}
.ingredients > li {
  list-style-type: square;
  list-style-position: inside;
  font-size: 13pt;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  display: flex;
  margin: 10px 20px;
}

nav div {
  flex: 1;
  border-width: 1px;
  background-color: #ddd;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: #000;
  display: block;
}

nav .selected {
  background-color: lawngreen;
}

@media only screen and not (min-width:756px) {
  .img-wrapper {
    float: unset;
  }

  .img-wrapper img {
    width: 100%;
  }

  nav {
    flex-direction: column; /* for mobile */
  }

  nav a {
    font-size: 26pt;
  }
}
